
<div class="center">
  <div class="flash error" style="width: 400px" >
  <p>
    We are sorry, but the page you requested does not exist.  If you think this page should exist
    please let us know by using this link to  <%= link_to "contact us", :controller=>'/home',:action=>:contact_us %>.
  </p>
  </div>
</div>
