/* 
    Document   : style
    Created on : Jan 7, 2010, 2:25:21 PM
    Author     : cwilhelm
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;

}

body{

    font-family: Geneva,Arial,Helvetica,sans-serif;
    background: #FFFFFF;
    font-size: .8em;
    color: #000000;
    height: 100%;
    background-color: #333333;
}

/* id's */

#wrapper{
    text-align: left;
    padding: 0px;

    width: 950px;
    color: #000000;
    background: #ffffff;
    margin: auto;


}

.comment{
    font-size: .7em;
    border:1px solid #333333;
    width: 300px;
    padding:3px;
    
}

#search_box{
    float:left;
    padding: 3px;
    font-size: .7em;
    font-weight: normal;

}

.block{background: #333333;
       color:#ffffff;
       -moz-border-radius: 10px;
       -webkit-border-radius: 10px;}
.box{
    margin-top: 0px;
    border:1px #333333 solid;
    width: 95%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /*behavior: url('/stylesheets/ie-css3.htc');*/
}

.ui-icon { margin:20px; }

#about{
    float:left;
    font-size: .7em;
    font-weight: normal;

}
#promote{
    float:left;
    font-size: .7em;
    font-weight: normal;

}

#advertise{
    float:left;
    font-size: .7em;
    font-weight: normal;

}

#ads{
    float:left;
    font-size: .7em;
    font-weight: normal;

}

#header{
    height: 100px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bolder;
    background-image:url('/images/header-gradient.jpg');
    background-repeat:repeat-x;

}

#image{
    float: left;

}

#controls{

    width: 600px;
    font-size: .8em;
    height:100%;
    text-align: right;
    padding:5px;
    position:relative;
    float:right;



}

#header img{
    float: left;
}

#content{
    color: #000000;
    padding: 0px;
    

}
#admin{
    margin: 10px;

}

#footer {
    clear: both;
    text-align: center;
    font-size: .9em;
    margin: 0px;
    color:#000;

}
#footer p{
    margin:0;
}

#info{
    float: left;
}

#info p{
    padding:  3px;
}

div.thumbs{
    width: 100%;
    border: 2px black solid;
    clear:left
}

#files{
    clear: left;
}

#dealer_lookup{
    border: solid black;
    margin: 3px;
    padding: 2px;
}

/*#buy{
    width:100%;
    margin-bottom: 10px;
}*/

#categories ul{

    margin-top: 0;
}

#notice {
    border: 2px solid red;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f0f0f0 ;
    font: bold smaller sans-serif;
}

/* end id's */
h1,h2,h3,h4{
    padding:3px;
    margin:3px;
    text-transform:  capitalize;
}

/* links */
a:link {color: #000}
a:visited {color: #000}
a:hover {color: #666666}

a.white:link {color: #fff}
a.white:visited {color: #fff}
a.white:hover {color: #666666}

td th{padding: 3px}
th{text-align: center}
tr {padding:3px}

table{
    padding: 10px;
    border: none;
    display: block;
}
p{
    padding:0;
    margin: 3px;
}

hr{ width:100%  }



/* classes */
.small {
    font-size: small;
}

.center {text-align: center;}
.left{text-align: left;}
.right{text-align:right;}
/*.fieldWithErrors input {
  border: 1px solid red;
} */

tr.gray {background-color: #cccccc;color:black}
tr.white{background-color: #ffffff;color:#000}
tr.black {background-color: black;color:white}
.title{
    text-transform: capitalize;
}

.bold{
    font-weight: bold;
}

.flash {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    width: 300px;
    margin-left: auto;
    margin-right:auto;
    margin-top:5px;
    text-align: center;
    padding: 5px;
}
.error {
    background-color: #FAA;
    border: solid 2px red;
}
.warning {
    background-color: #FFA;
    border: solid 2px yellow;
}
.notice {
    background-color: #AFA;
    border: solid 2px green;
}


.ad{margin-top:3px;margin-left:auto;margin-right: auto}
.thumb{
    border: solid black;
    padding: 1px;
    margin: 2px;
    height: auto;
    width: auto;
    float: left;
}

.thumb .title{
    font-size: .6em;
    text-align: center;
    text-transform: capitalize;
}

p.title, h2.title, h1.title, h3.title{
    text-transform: capitalize;
}


.heading{
    font-size: 1.5em;
    font-weight: bold;
}
.required  {
    border: 2px solid red;
}

/*form */
.button {
    border: 1px solid #000;
    background: #cccccc;
}

form { display:inline}

.button-to {
    display: inline;
}

.button-to div {
    display: inline;
}

.button:hover{
    border: 1px solid #fff;
    background: #000;
    color:#fff;
}

textarea{
    border: 1px solid #000;
    background: #cccccc;
    color:#000;

}
textarea:hover{
    border: 1px solid #fff;
    background: #000;
    color:#fff;
}

input{
    border: 1px solid #000;
    background: #cccccc;
    color:#000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

input:hover{
    border: 1px solid #fff;
    background: #000;
    color:#fff;
}

select{
    border: 1px solid #000000;
    background: #cccccc;
    color:#000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

select:hover{
    border: 1px solid #fff;
    background: #000;
    color:#fff;
}
legend{
    font-weight: bold;
    text-transform: capitalize
}

label{
    font-weight: bold;
    text-transform:  capitalize;
    float: left;
    width: 12em;
    clear:left;
}

label:after{content:":";}

fieldset{

    margin: 15px;
}

.fieldWithErrors input select textarea checkbox {
    border: 2px solid red;
}

.fieldWithErrors  {
    display: inline;
}
/* end form */


/* image thumbs */
img{
    text-decoration:none;
    border:none;
}
div.img
{
    text-align: center;
    margin: 10px;
    padding:5px;
    height:110px;
    width:80px;
    float:left;

}

div.img img
{
    display:block;
    margin: 0px auto;

}
div.img a:hover img
{
    /* border:1px solid #000000;*/
}
div.desc
{
    text-align:center;
    font-weight:normal;
    width:100%;
    margin:2px;
}


/* naviagion */
#nav{

    /*text-align: center;*/
    background: #333333;
    font-size: 1em;
    color:#000000;
    padding:5px;
    font-weight: bold;
    border:0;
    /*  height: 35px;
      margin:0px;
      padding:0px;*/


}
ul#list-nav {
    margin:0px;
    padding:0;
    list-style:none;
    width:100%;
    text-align: center
}

ul#list-nav li {
    display:inline
}

ul#list-menu li a {
    text-decoration:none;
    padding:5px 0;
    width:100px;
    background:#000000;
    color:#ffffff;
    float:left;

}

ul#list-nav li a {
    text-decoration: none;
    padding:5px 0;
    padding-left: 15px;
    width: 100%;
    text-align:center;
    border-left:3px solid #fff;
    background: #000000;
    color:#ffffff
}
/* color */
.white{color:#ffffff}
.black{color:#333333}
.gray{color:#cccccc}

#map{
    float:left;
    padding:10px;
    width: 525px;
    height:300px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
}

#container3 {
    float:left;
    width:100%;

    overflow:hidden;
    position:relative;
}
#container2 {
    float:left;
    width:100%;

    position:relative;
    right:20%;
}
#container1 {
    float:left;
    width:100%;

    position:relative;
    right:60%;
}
#col1 {
    float:left;
    width:18%;
    position:relative;
    left:81%;
    overflow:hidden;
}
#col2 {
    float:left;
    width:58%;
    position:relative;
    left:83%;
    overflow:hidden;
}
#col3 {
    float:left;
    width:18%;
    position:relative;
    left:85%;
    overflow:hidden;
}

/* boxes */

.roundedcornr_box {
    background: url(/images/roundedcornr_tl.png) no-repeat top left;
    margin-top:2px;
}
.roundedcornr_top {
    background: url(/images/roundedcornr_tr.png) no-repeat top right;
}
.roundedcornr_bottom {
    background: url(/images/roundedcornr_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom div {
    background: url(/images/roundedcornr_br.png) no-repeat bottom right;
}
.roundedcornr_content {
    background: url(/images/roundedcornr_r.png) top right repeat-y;
}

.roundedcornr_top div,.roundedcornr_top,
.roundedcornr_bottom div, .roundedcornr_bottom {
    width: 100%;
    height: 10px;
    font-size: 1px;

}
.roundedcornr_content, .roundedcornr_bottom {

}
.roundedcornr_content { /*padding: 0 10px; */
                        padding: 3px;
                        font-size: .7em;
                        font-weight: normal;}

.rounded{
    background-image:  url(/images/roundedcornr.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin-left:auto;
    margin-right:auto;
    color:#ffffff;
    text-align: center;
    overflow: visible;
}

/* set millions of background images */
.rbroundbox { background: url(/images/nt.gif) repeat; }
.rbtop div { background: url(/images/tl.gif) no-repeat top left; }
.rbtop { background: url(/images/tr.gif) no-repeat top right; }
.rbbot div { background: url(/images/bl.gif) no-repeat bottom left; }
.rbbot { background: url(/images/br.gif) no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
.rbcontent { margin: 0 7px; }
.rbroundbox { width: 100%; margin: 1em auto; }