<h1>About</h1>
<p>This site is built by racers for racers. We were tired of having not having
  all of our races in one place. Our goal is to have every single race in the
  nation listed on this site. If you know of a race that is not listed here,
  please add one. Your fellow racers will appreciate it. </p>
