<h1> My Races </h1>
<div id="ads" class="box">
  <p>One Big Ad goes here</p>
</div>
<br/>
<div id="results">
  <%= render "/events/my_races" %>
</div>

<div id="ads" class="box">
  <p>More ads here</p>
</div>